# Ignore macOS .DS_Store files
.DS_Store

# Ignore JetBrains IDE project files
.idea/

# Ignore environment configuration file
src/.env

# Ignore Composer or npm dependencies
#src/vendor/
/draft.yaml
/.blueprint
